.column video {
  width: 80%;
  height: 100vh;
  bottom: 0;
  object-fit: cover;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.philosophy-table {
  width: 35%;
  height: 150px;

  border-collapse: collapse;

  color: var(--primary-color);
  text-align: center;
}

.philosophy-table td {
  border-width: 1px;
  border-color: #e0e0e0;
  border-left: 0px solid;
  border-right: 0px solid;
  border-style: solid;
  padding: 14px;
  font-size: 1.2em;
}

.philosophy-table td:first-child {
  border-right: 1px solid #e0e0e0;
}

.philosophy-table h5 {
  color: #8f8f8f;
  font-weight: 500;
  margin-bottom: 15px;
}

.philosophy-table p {
  font-size: 0.7em;
  color: #8f8f8f;
}

.button {
  background-color: #ffffff;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);

  color: var(--primary-color);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  font-family: "Quicksand";

  padding: 12px 26px;
  margin-top: 40px;

  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--secondary-color);
  color: #fff;
}
